/* CSS untuk body */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f5f5;
  line-height: 0.6;
  margin: 0;
}

/* CSS untuk header */
header {
  background-color: #29293D;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

/* CSS untuk navigasi */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: slide-in 1s ease-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav li {
  margin-left: 15px;
}

nav a {
  color: #7c7c89;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #D1D1E0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
  border-radius: 50px;
}

.navbtn {
  display: inline-block;
  background-color: #E60000;
  color: #fff;
  padding: 15px 25px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-top: 10px;
  border-radius: 5px;
}

.navbtn:hover {
  background-color: #a10909;
}

.navclr {
  color: #fff;
  font-size: 15px;
}

/* CSS untuk section */
section {
  background-color: #fff;
  border: 1px solid #eee;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
  margin: 20px 0;
  padding: 50px;
}

section h2 {
  color: #333;
  font-size: 28px;
  margin-top: 0;
}

section p {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
}

section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

section li {
  margin-bottom: 20px;
}

.about {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.about h2 {
  text-align: left;
  font-size: 30px;
  margin-right: 50px;
  line-height: 1.5;
}

.about p {
  font-size: 20px;
  line-height: 1.5;
}

.about-image {
  margin-left: 150px;
}

.about-image img {
  width: 100%;
  border-radius: 10px;
}

.button {
    display: inline-block;
    background-color: #458FF6;
    color: #fff;
    padding: 15px 10px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-top: 20px;
    border-radius: 25px;
}

.button:hover {
  background-color: #057ccb;
}
/* CSS untuk footer */
footer {
  background-color: #29293D;
  color: #fff;
  padding: 42px 0;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

/* Media queries untuk perangkat mobile */
@media screen and (max-width: 768px) {
  /* Mengatur tata letak navigasi */
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  
  nav ul {
    margin-top: 10px;
  }
  
  nav li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  /* Mengatur ukuran logo */
  .logo img {
    width: 40px;
  }
  
  /* Mengatur ukuran teks di header */
  nav a {
    font-size: 16px;
  }
  
  .navbtn {
    padding: 10px 20px;
    margin-top: 0;
  }
  
  /* Mengatur tata letak tentang section */
  .about {
    flex-direction: column;
  }
  
  .about h2 {
    font-size: 24px;
    margin-right: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .about-image {
    margin-left: 0;
    margin-top: 20px;
  }
}

/* Media queries untuk perangkat dengan lebar layar yang sangat kecil */
@media screen and (max-width: 480px) {
  /* Mengatur padding pada section */
  section {
    padding: 30px;
  }
  
  section h2 {
    font-size: 24px;
  }
  
  section p {
    font-size: 16px;
  }
  
  .about h2 {
    font-size: 20px;
  }
  
  .about p {
    font-size: 16px;
  }
}
